<button class="shop-btn">
  <svg class="shop-btn__img">
    <use xlink:href="images/sprite.svg#filter-solid"></use>
  </svg>
</button>

<ul class="shop__items filters">
  <li class="filters__item filters-category">
    <aside class="aside">
      <h2 class="filters__title">
        category
      </h2>
      <form class="filters-category__form" action="#">
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox" checked>
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Chair</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Table</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Lamp</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Watch</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Clock</span>
          </div>
        </label>
      </form>
    </aside>
  </li>
  <li class="filters__item filters-price">
    <aside class="aside">
      <h2 class="filters__title filters-price__title">
        price
      </h2>
      <form class="filters-price__form" action="#">
        <input class="filters-price__input" type="text" data-min="0" data-max="1000" data-from="100" data-to="500">
        <label class="filters-price__label">
          <p class="filters-price__wrap">
            $<span class="filters-price__from"></span>
          </p>
          <p class="filters-price__wrap">
            $<span class="filters-price__to"></span>
          </p>
        </label>
      </form>
    </aside>
  </li>
  <li class="filters__item filters-brand">
    <aside class="aside">
      <h2 class="filters__title">
        brand
      </h2>
      <form class="filters-brand__form" action="#">
        <label class="filters-brand__label">
          <input class="filters-brand__input check-input" type="checkbox" checked>
          <div class="filters-brand__checkbox check-wrap">
            <span class="filters-brand__num">rfl</span>
            <span class="filters-brand__number">(10)</span>
          </div>
        </label>
        <label class="filters-brand__label">
          <input class="filters-brand__input check-input" type="checkbox">
          <div class="filters-brand__checkbox check-wrap">
            <span class="filters-brand__num">Brothers</span>
            <span class="filters-brand__number">(21)</span>
          </div>
        </label>
        <label class="filters-brand__label">
          <input class="filters-brand__input check-input" type="checkbox">
          <div class="filters-brand__checkbox check-wrap">
            <span class="filters-brand__num">Regal</span>
            <span class="filters-brand__number">(3)</span>
          </div>
        </label>
        <label class="filters-brand__label">
          <input class="filters-brand__input check-input" type="checkbox">
          <div class="filters-brand__checkbox check-wrap">
            <span class="filters-brand__num">Nadia</span>
            <span class="filters-brand__number">(14)</span>
          </div>
        </label>
        <label class="filters-brand__label">
          <input class="filters-brand__input check-input" type="checkbox">
          <div class="filters-brand__checkbox check-wrap">
            <span class="filters-brand__num">Otobi</span>
            <span class="filters-brand__number">(6)</span>
          </div>
        </label>
      </form>
    </aside>
  </li>
  <li class="filters__item filters-recent">
    <aside class="aside">
      <h2 class="filters__title filters-recent__title">
        RECENT PRODUCTS
      </h2>
      <ul class="filters-recent__items">
        <li class="filters-recent__item">
          <div class="filters-recent__img">
            <a href="filters-recent__link">
              <img class="filters-recent__pic" src="images/shop/1.png" alt="">
            </a>
          </div>
          <div class="filters-recent__content">
            <h4 class="filters-recent__name">
              Pendant lamp
            </h4>
            <div class="star" data-rateyo-rating="4"></div>
            <p class="filters-recent__num">
              23<span>$</span>
            </p>
          </div>
        </li>
      </ul>
    </aside>
  </li>
  <li class="filters__item filters-recent">
    <aside class="aside">
      <ul class="filters-recent__items">
        <li class="filters-recent__item">
          <div class="filters-recent__img">
            <a href="filters-recent__link">
              <img class="filters-recent__pic" src="images/shop/2.png" alt="">
            </a>
          </div>
          <div class="filters-recent__content">
            <h4 class="filters-recent__name">
              Pendant lamp
            </h4>
            <div class="star" data-rateyo-rating="4"></div>
            <p class="filters-recent__num">
              23<span>$</span>
            </p>
          </div>
        </li>
      </ul>
    </aside>
  </li>
  <li class="filters__item filters-recent">
    <aside class="aside">
      <ul class="filters-recent__items">
        <li class="filters-recent__item">
          <div class="filters-recent__img">
            <a href="filters-recent__link">
              <img class="filters-recent__pic" src="images/shop/3.png" alt="">
            </a>
          </div>
          <div class="filters-recent__content">
            <h4 class="filters-recent__name">
              Pendant lamp
            </h4>
            <div class="star" data-rateyo-rating="4"></div>
            <p class="filters-recent__num">
              23<span>$</span>
            </p>
          </div>
        </li>
      </ul>
    </aside>
  </li>
</ul>