<div class="shop-content__filter">
  <div class="shop-content__buttons">
    <button class="shop-content__button shop-content__button--active button-grid">
      <span class="sr-only">when clicked, the search field opens</span>
      <svg class="shop-content__grid">
        <use xlink:href="images/sprite.svg#grid"></use>
      </svg>
    </button>
    <button class="shop-content__button button-list">
      <svg class="shop-content__list">
        <use xlink:href="images/sprite.svg#list"></use>
      </svg>
    </button>
  </div>
</div>