<ul class="shop-content__items">
  <li class="shop-content__item">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/1.png" width="240" height="170" alt="armchair">
      </div>
      <div class="card-product__content">
        <h3 class="card-product__subject">
          Wooden radio
        </h3>
        <div class="star card-product__star" data-rateyo-rating="4"></div>
        <p class="card-product__num">
          29.00<span>$</span>
        </p>
        <p class="card-product__figure">
          23<span>$</span>
        </p>
        <p class="card-product__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>
  <li class="shop-content__item">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/2.png" width="240" height="170" alt="armchair">
      </div>
      <div class="card-product__content">
        <h3 class="card-product__subject">
          Wooden radio
        </h3>
        <div class="star card-product__star" data-rateyo-rating="4"></div>
        <p class="card-product__num">
          29.00<span>$</span>
        </p>
        <p class="card-product__figure">
          23<span>$</span>
        </p>
        <p class="card-product__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>
  <li class="shop-content__item">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/3.png" width="240" height="170" alt="armchair">
      </div>
      <div class="card-product__content">
        <h3 class="card-product__subject">
          Wooden radio
        </h3>
        <div class="star card-product__star" data-rateyo-rating="4"></div>
        <p class="card-product__num">
          29.00<span>$</span>
        <p class="card-product__figure">
          23<span>$</span>
        </p>
        </p>
        <p class="card-product__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>
  <li class="shop-content__item">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/4.png" width="240" height="170" alt="armchair">
      </div>
      <div class="card-product__content">
        <h3 class="card-product__subject">
          Wooden radio
        </h3>
        <div class="star card-product__star" data-rateyo-rating="4"></div>
        <p class="card-product__num">
          29.00<span>$</span>
        </p>
        <p class="card-product__figure">
          23<span>$</span>
        </p>
        <p class="card-product__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/5.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/4.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/6.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/7.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/products/8.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/design/2.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>

  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/design/5.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>
  
  <li class="shop-content__item shop-content__item--none">
    <article class="card-product">
      <a class="card-product__wrap" href=""></a>
      <div class="card-product__img">
        <img class="card-product__pic" src="images/design/4.png" width="240" height="170" alt="armchair">
        <div class="card-product__box">
          <a class="card-product__link btn-circle card-product__link--magnifier" href="#">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__magnifier">
              <use xlink:href="images/sprite.svg#magnifier"></use>
            </svg>
          </a>
          <button class="card-product__btn  btn-circle card-product__btn--cart" type="button">
            <span class="sr-only">added to cart</span>
            <svg class="card-product__cart card-product__cart--cart">
              <use xlink:href="images/sprite.svg#cart-product"></use>
            </svg>
            <span class="card-product__hide-span">add to card</span>
          </button>
          <button class="card-product__btn  btn-circle card-product__btn--heart" type="button">
            <span class="sr-only">added to favorites</span>
            <svg class="card-product__heart">
              <use xlink:href="images/sprite.svg#heart-product"></use>
            </svg>
          </button>
        </div>
      </div>
      <h3 class="card-product__subject">
        Wooden radio
      </h3>
      <p class="card-product__num">
        <span>$</span>29.00
      </p>
    </article>
  </li>
</ul>