$main: #243f4d;
$buttons: #8b8b8b;
$title: #191919;
$text: #7b7b7b;
$link: #bebc01;
$button: #ef9b08;
$outline: #8e1010;


%dmsans-700 {
  font-family: 'DMSans-Bold', 'Aria', sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', 'Aria', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', 'Aria', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', 'Aria', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular', 'Aria', sans-serif;
  font-weight: 400;
}