<div class="about__info info">
  <div class="container">
    <ul class="info__items">
      <li class="info__item info__item--rate">
        <spam class="info__num">99%</spam>
        <p class="info__text">Satisﬁed Clients Rate</p>
      </li>

      <li class="info__item info__item--delivered">
        <span class="info__num">5020+</span>
        <p class="info__text">Products Delivered</p>
      </li>

      <li class="info__item info__item--time">
        <span class="info__num">23hr</span>
        <p class="info__text">Daily Working Time</p>
      </li>

      <li class="info__item info__item--store">
        <span class="info__num">140+</span>
        <p class="info__text">Brands in Store</p>
      </li>
    </ul>
  </div>
</div>