<div class="about__team team">
  <div class="container">
    <div class="team__inner">
      <div class="team__content">
        <div class="team__title title">
          Our Team
        </div>
        <p class="team__text">
          Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
          sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a class="team__btn btn-link" href="#">
          Join With US
          <svg class="btn-link__arrow team__arrows">
            <use xlink:href="images/sprite.svg#arrows"></use>
          </svg>
        </a>
      </div>
      <div class="team__wrapper">
        <div class="team__box">
          <div class="team__img">
            <img class="team__image" src="images/about/eliza.jpg" alt="photo-team">
          </div>
          <div class="team__information">
            <div class="team__name">
              <p>Eliza Elliot</p>
              <p>Commodo tempor</p>
            </div>
            <div class="team__icons">
              <a class="team__link team__link--inst" href="#">
                <svg class="team__inst">
                  <use xlink:href="images/sprite.svg#google"></use>
                </svg>
              </a>
              <a class="team__link team__link--google" href="#">
                <svg class="team__google">
                  <use xlink:href="images/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="team__box">
          <div class="team__img">
            <img class="team__image" src="images/about/roscoe.jpg" alt="photo-team">
          </div>
          <div class="team__information">
            <div class="team__name">
              <p>Roscoe A.</p>
              <p>Commodo tempor</p>
            </div>
            <div class="team__icons">
              <a class="team__link team__link--inst" href="#">
                <svg class="team__inst">
                  <use xlink:href="images/sprite.svg#google"></use>
                </svg>
              </a>
              <a class="team__link team__link--google" href="#">
                <svg class="team__google">
                  <use xlink:href="images/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="team__box">
          <div class="team__img">
            <img class="team__image" src="images/about/ruby.jpg" alt="photo-team">
          </div>
          <div class="team__information">
            <div class="team__name">
              <p>Ruby M.</p>
              <p>Commodo tempor</p>
            </div>
            <div class="team__icons">
              <a class="team__link team__link--inst" href="#">
                <svg class="team__inst">
                  <use xlink:href="images/sprite.svg#google"></use>
                </svg>
              </a>
              <a class="team__link team__link--google" href="#">
                <svg class="team__google">
                  <use xlink:href="images/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="team__box">
          <div class="team__img">
            <img class="team__image" src="images/about/marie.jpg" alt="photo-team">
          </div>
          <div class="team__information">
            <div class="team__name">
              <p>Marie F. Bloss</p>
              <p>Commodo tempor</p>
            </div>
            <div class="team__icons">
              <a class="team__link team__link--inst" href="#">
                <svg class="team__inst">
                  <use xlink:href="images/sprite.svg#google"></use>
                </svg>
              </a>
              <a class="team__link team__link--google" href="#">
                <svg class="team__google">
                  <use xlink:href="images/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>