<section class="products-week">
  <div class="container">
    <h2 class="products-week__title">
      Products of the week
    </h2>
    <ul class="products-week__filter">
      <li class="products-week__list">
        <button class="products-week__btn" type="button" data-filter="all">
          All
      </li>
      <li class="products-week__list">
        <button class="products-week__btn" type="button" data-filter=".category-a">
          Furnitures
      </li>
      <li class="products-week__list">
        <button class="products-week__btn" type="button" data-filter=".category-b">
          Chairs
      </li>
      <li class="products-week__list">
        <button class="products-week__btn" type="button" data-filter=".category-c">
          Lighting
      </li>
      <li class="products-week__list">
        <button class="products-week__btn" type="button" data-filter=".category-d">
          Decor
      </li>
    </ul>
    <ul class="products__content">
      <li class="card-product products-week__item  mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/1.png" width="187px" height="220px" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/2.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <span class="sr-only">when you click on it, we will go to a page with a detailed description of the
                product</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn" type="button">
              <span class="sr-only">awhen you click add the product to the cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn" type="button">
              <span class="sr-only">when you click add the product to your favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-b">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/3.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            White chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-c">
        <div class="card-product__inner">
          <img class="card-products__pic" src="images/products/4.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Retro table
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-a">
        <div class="card-product__inner">
          <img class="card-products__pi" src="images/products/5.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/6.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-c">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/7.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            White chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="products__item card-product mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/8.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__link" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Retro table
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
    </ul>
  </div>