<div class="detalis-tabs">
  <div class="container">
    <ul class="detalis-tabs__top">
      <li class="detalis-tabs__inner">
        <a class="btn-link detalis-tabs__link detalis-tabs__link--active" href="#tab1">
          Description
        </a>
      </li>
      <li class="detalis-tabs__inner">
        <a class="btn-link  detalis-tabs__link detalis-tabs__infomation" href="#tab2">
          Additional information
        </a>
      </li>
      <li class="detalis-tabs__inner">
        <a class="btn-link detalis-tabs__link" href="#tab3">
          Reviews <span>(2)</span>
        </a>
      </li>
    </ul>
    <ul class="detalis-tabs__content">
      <li class="detalis-tabs__text detalis-tabs__text--active" id="tab1">
        consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </li>
      <li class="detalis-tabs__text" id="tab2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, ut at! A pariatur amet deserunt
        distinctio, adipisci asperiores odit ipsum fuga recusandae fugit, explicabo vitae labore ab ducimus
        provident error.
      </li>
      <li class="detalis-tabs__text" id="tab3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, ut at! A pariatur amet deserunt
        distinctio,
        adipisci asperiores odit ipsum fuga recusandae fugit, explicabo vitae labore ab ducimus provident error.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, ut at! A pariatur amet deserunt
        distinctio,
        adipisci asperiores odit ipsum fuga recusandae fugit, explicabo vitae labore ab ducimus provident error.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, ut at! A pariatur amet deserunt
        distinctio,
        adipisci asperiores odit ipsum fuga recusandae fugit, explicabo vitae labore ab ducimus provident error.
      </li>
    </ul>
  </div>
</div>