<section class="details-lamp">
  <div class="container">
    <div class="details-lamp__items">
      <div class="details-lamp__slide details-slide">
        <ul class="details-slide__small">
          <li class="details-slide__small-inner big">
            <img class="details-slide__small-img" src="images/detalis/1.jpg" alt="product">
          </li>
          <li class="details-slide__small-inner">
            <img class="details-slide__small-img" src="images/detalis/2.jpg" alt="product">
          </li>
          <li class="details-slide__small-inner">
            <img class="details-slide__small-img" src="images/detalis/3.jpg" alt="product">
          </li>
          <li class="details-slide__small-inner">
            <img class="details-slide__small-img" src="images/detalis/4.jpg" alt="product">
          </li>
        </ul>
        <ul class="details-slide__big">
          <li class="details-slide__big-inner">
            <img class="details-slide__big-img" src="images/detalis/1.jpg" alt="product">
          </li>
          <li class="details-slide__big-inner">
            <img class="details-slide__big-img" src="images/detalis/2.jpg" alt="product">
          </li>
          <li class="details-slide__big-inner">
            <img class="details-slide__big-img" src="images/detalis/3.jpg" alt="product">
          </li>
          <li class="details-slide__big-inner">
            <img class="details-slide__big-img" src="images/detalis/4.jpg" alt="product">
          </li>
        </ul>
      </div>
      <div class="details-lamp__content">
        <h3 class="details-lamp__title">
          Pendant lamp
        </h3>
        <div class="details-lamp__star" data-rateyo-rating="4"></div>
        <p class="details-lamp__figure">
          23<span>$</span>
        </p>
        <p class="details-lamp__text">
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo
        </p>
        <div class="details-lamp__wrap">
          <span class="sr-only">add to card</span>
          <input class="details-lamp__num" type="number" value="1">
          <a class="btn-link details-lamp__link" href="#">add to card</a>
        </div>
        <ul class="details-lamp__descript">
          <li class="details-lamp__item">
            Sku:<span class="details-lamp__value">014</span>
          </li>
          <li class="details-lamp__item">
            Category:<span class="details-lamp__value">Lights</span>
          </li>
          <li class="details-lamp__item">
            Tag:<span class="details-lamp__value">Decorative</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>