<section class="related">
  <div class="container">
    <div class="related__wrapper">
      <h2 class="title related__title">Related products</h2>
      <span class="sr-only">slider with images of our product</span>
      <ul class="related__slider">
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/1.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/2.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-b">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/3.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-c">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/4.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-b">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/5.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-d">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/6.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/7.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/8.png" alt="armchair">
            </div>
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>

            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>