.breadcrumbs {
  background-color: #edf1f4;
  text-align: center;
  margin-bottom: 110px;
  flex-wrap: wrap;
  @include max($xxl) {
    margin-bottom: 30px;
  }

  &__inner {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1;
    font-weight: 100;
    color: #222933;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    color: #222933;
    &:last-child {
      color: $white500;
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 20px;

      &::after {
        content: "/";
        position: absolute;
        right: -15px;
        color: inherit;
      }
    }
  }
  &__link {
    color: inherit;
  }
  &__link,
  &__span {
    font-size: 14px;
  }

  &__link {
    outline: 2px solid transparent;
    transition: color 0.2s, outline-color 0.2s;

    &:hover {
      color: #a3bbc8;
    }
  }
}
