.card-product {
  padding: 25px 0 35px;
  text-align: center;
  overflow: hidden;

  &:hover &__box {
    opacity: 1;
  }

  &__img {
    max-width: 250px;
    height: 185px;
    margin: 0 auto;

    @include max($xl) {
      height: 150px;
    }

    @include max($cm) {
      height: 120px;
    }
  }

  &__pic {
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__inner {
    position: relative;
    transition: transform 0.6s;
    margin-bottom: 60px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__box {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 24px;
    opacity: 0;
    transition: opacity 0.3s;

    @include max($xl) {
    opacity: 1;
  }
  }

  &__btn,
  &__link {
    background-color: $white100;
    transition: background-color 0.4s, fill 0.3s;
    fill: $blue300;
    box-shadow: 1px -2px 30px 3px rgba(34, 60, 80, 0.38);

    &:hover {
      background-color: $blue200;
      fill: $white100;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__heart,
  &__cart,
  &__magnifier {
    width: 24px;
    height: 24px;
  }

  &__subject {
    font-weight: $DMSans500;
    margin-bottom: 10px;
    color: $blue700;

    @include line-clamp(1);
    margin: 0 auto;
    font-size: 16px;
  }

  &__num {
    color: $blue300;
  }


}