html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: $blue700;
  font-family: $DMSans;
  font-weight: $DMSans700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1800px;
  }
}

.btn-circle {
  border: none;
  cursor: pointer;
  outline-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  outline: transparent;

  @include max($md) {
    width: 38px;
    height: 38px;
  }
}

.btn-link {
  outline-color: transparent;
  cursor: pointer;
  padding: 19px 93px 19px 25px;
  font-family: $Rubik;
  font-weight: $Rubik500;
  transition: color 0.5s, background-color 0.5s;
  position: relative;
  outline-color: transparent;
  display: inline-block;

  @include max($md) {
    padding: 12px 45px 11px 9px;
  }

  @include max($cm) {
    padding: 7px 43px 7px 9px;
  }

  &__arrow {
    width: 24px;
    height: 12px;
    position: absolute;
    top: 37%;
    right: 11%;
    transition: fill 0.5s;
  }

  &:hover svg {
    fill: $white400;
  }

  &:active {
    background-color: $red500;
  }

  &:hover {
    color: $orange400;
    background-color: $blue900;
  }
}

.title {
  margin: 0 auto 30px;
  text-align: center;
  font-size: 36px;
  color: $white900;
  @include line-clamp(1);

  @include max($xl) {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

a {
  &:hover {
    color: $yellow300;
  }

  &:active {
    color: $orange400;
  }

  &:focus {
    outline: 1px solid $red500;
  }
}

button {
  &:hover {
    color: $yellow300;
  }

  &:active {
    background-color: $orange400;
  }

  &:focus {
    outline: 1px solid $red500;
  }
}

.pagination {
  padding: 75px 0 110px;
  @include max($xl) {
    padding: 50px 0 0px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__btn {
    padding: 18px 22px;
    border: 1px solid #a3bbc8;
    cursor: pointer;
    transition: background-color 0.4s;
    &--active {
      background-color: #a3bbc8;
    }
    &:hover {
      background-color: #a3bbc8;
    }
  }
}

.contact-form {
  &__information {
    margin-bottom: 20px;
    display: flex;
    @include max($ml) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  &__item {
    max-width: 400px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 30px;
      @include max($xl) {
        margin-right: 5px;
      }
    }
    @include max($ml) {
      margin-bottom: 10px;
      max-width: 100%;
    }
  }

  &__label {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: 3px;
      right: 7px;
      background-repeat: no-repeat;
    }

    &--name {
      &::after {
        background-image: url(../images/icons/name.svg);
      }
    }

    &--email {
      &::after {
        background-image: url(../images/icons/mail.svg);
      }
    }
  }
  &__input {
    width: 100%;
    height: 45px;
    position: relative;
    border: 1px solid #e5e5e5;
  }
  &__comment {
    width: 100%;
    height: 120px;
    margin-bottom: 32px;
    resize: none;
    position: relative;
    background-image: url(../images/icons/letter.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 20%;
    border: 1px solid #e5e5e5;

    @include max($xl) {
      margin-bottom: 15px;
    }
  }
  &__input,
  &__comment {
    padding: 10px 40px 10px 17px;
    transition: background-color 0.2s;

    &:hover {
      animation: contact-form__comment 1.5s infinite;
      background-color: $pink400;
    }

    &:focus,
    &:active {
      outline: transparent;
      border: 1px solid $blue700;
    }
  }

  &__btn {
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: $blue300;
    color: $white100;
  }
}
@keyframes contact-form__item {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
@keyframes contact-form__comment {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
