.news-blog {
  position: relative;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 35px;

    @include max($xl) {
      margin-bottom: 15px;
    }

    @include max($md) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
  &__title.title {
    margin:0;
  }
  &__link {
    padding-right: 30px;
    position: relative;
    transition: color 0.4s;

    &:hover:after {
      transform: translateX(30px);
    }

    &::after {
      content: "";
      background-image: url("../images/icons/shape.svg");
      position: absolute;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      right: 0;
      top: 5px;
      transition: transform 0.5s;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    position: relative;

    @include max($xl) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__inner {
    max-width: 370px;
    // margin-bottom: -170px;
    background-color: $white100;

    @include max($xl) {
      margin: 0 auto 10px;
    }

    @include max($md) {
      max-width: 293px;
    }
  }
  &__background {
    position: absolute;
    z-index: -1;
    bottom: 166px;
    width: 100%;
    height: 274px;
    background-color: #fef7f0;
    @include max($xl) {
      display: none;
    }
  }
}
