$white900:#191919;
$white500:#7b7b7b;
$white400:#8b8b8b;
$white300:#b3c6cf;
$white200:#dae4e9;
$white100:#fff;
$yellow300:#bebc01;
$orange400:#ef9b08;
$orange200:#fcd7b6;
$orange100:#fde3cc;
$blue900:#1f2044;
$blue700:#243f4d;
$blue400:#436372;
$blue300:#a3bbc8;
$blue200:#a3bac7;
$red500:#8e1010;
$pink200:#fde7d3;
$pink100:#fef7f0;





$DMSans:'DMSans', 'Aria', sans-serif;
$DMSans700: 700;
$DMSans500: 500;
$DMSans400: 400;

$Rubik:'Rubik', 'Aria', sans-serif;
$Rubik500: 500;
$Rubik400: 400;