.team {
  &__inner {
    display: flex;
    @include max($xl) {
      flex-direction: column;
    }
  }
  &__content {
    max-width: 320px;
    margin-right: 90px;
    text-align: left;
    @include max($xl) {
      max-width: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  &__title {
    text-align: left;
    color: $blue700;
    @include max($xl) {
      text-align: center;
    }
  }
  &__text {
    margin-bottom: 20px;
    line-height: 2;
    font-family: $Rubik;
    font-weight: $Rubik400;
    @include max($xl) {
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }
  &__google,
  &__inst {
    width: 23px;
    height: 17px;
    fill: $gray700;
    transition: fill 0.3s;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 30px;
    @include max($xl) {
      grid-gap: 10px 10px;
    }
    @include max($md) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
    }
  }

  &__btn {
    font-weight: 700;
    font-family: $Poppins;
    padding: 15px 65px 15px 15px;
    background-color: $blue300;
    border-radius: 5px;
    color: $white100;
    transition: background-color 0.2s;
    font-size: 15px;
  }

  &__arrows {
    fill: $white100;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $gray400;
    border-radius: 50%;
    z-index: 2;
    transition: background-color 0.3s;
    &:hover {
      background-color: $yellow300;
    }
    &:hover .team__inst {
      fill: $red500;
    }
    &:hover .team__google {
      fill: $blue700;
    }

    &--inst {
      position: relative;
      margin-right: 10px;
      &:before {
        content: "";
        position: absolute;
      }
    }
  }
  &__icons {
    display: flex;
  }
  &__information {
    display: flex;
    max-width: 325px;
    padding: 30px 13px 28px 24px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    margin-top: -53px;
    background-color: white;
    position: relative;
    @include max($xl) {
      padding: 15px 1px;
    }
  }
  &__name {
    margin-right: 55px;
  }
}
