<section class="modal">
  <div class="container">
    <form class="modal__form" action="#">
      <div class="modal__wrapper">
        <label class="modal__label" for="text" name="modal__label" required>Username or email address *</label>
        <input class="modal__input" id="text" type="text">
        <label class="modal__label" name="modal__label" for="password" required>Password *</label>
        <input class="modal__input" id="password" type="password">
      </div>
      <button class=" modal__btn" type="submit">
        <span class="sr-only"> when you click, authorization occurs</span>
        Login
      </button>
      <div class="modal__wrap">
        <label class="modal__checkbox-label" name="modal__label" for="checkbox">
          <input class="modal__checkbox" type="checkbox" name="checkbox" id="checkbox">
          <span class="modal__check"></span>
          Remember me
        </label>
        <a class="modal__link" href="#">Lost your password?</a>
      </div>
      <span class="modal__text">Not registered? No problem</span>
      <a class="btn-link modal__link-create" href="#">
        <span class="sr-only"> link to go to the page for creating an account</span>
        Create an account</a>
    </form>
  </div>
</section>