.information {

  &__items {
    display: flex;
    background-color: $pink100;
  }

  &__item {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &:not(:last-child) {
      border-right: 1px solid $white300;
    }
  }

  &__content {
    width: 207px;
    padding: 43px 0;
    position: relative;

    &::before {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      width: 55px;
      height: 55px;
      left: -71px;
      top: 55px;
    }

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: $white200;
      top: 88px;
      left: -39px;
      border-radius: 50%;
      opacity: 0.3;
    }

    &--time {
      &::before {
        background-image: url(../images/icons/time.svg);
      }
    }

    &--delivery-truck {
      &::after {
        top: 73px;
        left: -36px;
      }

      &::before {
        background-image: url(../images/icons/delivery-truck.svg);
      }
    }

    &--credit-card {
      &::before {
        background-image: url(../images/icons/credit-card.svg);
      }
    }
  }

  &__content-wrap {
    width: 214px;
  }

  &__title {
    font-size: 18px;
    line-height: 2.2;
  }

  &__text {
    font-family: $DMSans;
    font-weight: $DMSans400;
    line-height: 1.9;
    @include line-clamp(2);
  }

  &__icon-wrap::after {
    top: 20px;
    right: -6px;
  }

  &__credit-card,
  &__delivery-truck {
    width: 55px;
    height: 35px;
    fill: $white300;
  }

  &__credit-card {
    height: 45px;
  }

}