.lamps-shop {
  margin-bottom: 100px;

  @include max($xl) {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    @include max($md) {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }
}


