.new-design {
  margin-bottom: 115px;

  @include max($xl) {
    margin-bottom: 50px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    margin-bottom: 120px;

    @include max($xl) {
      grid-template-columns: repeat(2, 3fr);
      grid-gap: 10px 10px;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    padding: 15px 0 0 35px;
    background-color: $white700;
    height: 245px;
    transition: box-shadow 0.5s;

    @include max($xl) {
      height: 225px;
      padding: 10px 0 0 0;
    }

    @include max($md) {
      height: 190px;
    }

    &:hover {
      box-shadow: 10px 6px 47px 20px rgba(37, 37, 37, 0.1);
    }
  }

  &__img {
    position: relative;
    max-width: 355px;
    height: 160px;

    @include max($xl) {
      margin: 0 auto;
      padding: 0 10px;
      max-width: 355px;
      height: 140px;
    }
  }

  &__pendant {
    top: -44px;
    right: -69px;

    @include max($xl) {
      right: 0;
      top: -6px;
    }
  }

  &__pieds {
    top: -41px;
    right: -64px;

    @include max($xl) {
      right: 0;
      top: -6px;
    }
  }

  &__rocking {
    top: -64px;
    right: -58px;

    @include max($xl) {
      right: 0;
      top: 0;
    }

    @include max($md) {
      height: 116px;
    }
  }

  &__bedstead {
    top: -48px;
    right: -66px;

    @include max($xl) {
      right: 0;
      top: -6px;
    }
  }

  &__chair {
    top: -68px;
    right: -62px;

    @include max($xl) {
      right: 0;
      top: 0;
    }

    @include max($md) {
      height: 116px;
    }
  }

  &__bamboo {
    top: -50px;
    right: -112px;

    @include max($xl) {
      right: 0;
      top: -6px;
    }
  }

  &__pic {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    width: 171px;
    text-align: left;

    @include max($xl) {
      width: 100%;
      text-align: center;
    }
  }

  &__subject {
    font-size: 20px;
    color: $white900;
    margin-bottom: 16px;
    @include line-clamp(2);
    font-weight: $DMSans700;

    @include max($md) {
      font-size: 17px;
      margin-bottom: 0;
    }
  }

  &__text {
    color: $blue300;
  }

}