.new-design {
  margin-bottom: 115px;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    margin-bottom: 120px;
  }

  &__wrapper {
    position: relative;
    padding: 15px 0 0 35px;
    background-color: $white700;
    height: 245px;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 10px 6px 47px 20px rgba(37, 37, 37, 0.1);
    }
  }

  &__img {
    position: absolute;
    width: 355px;
    height: 160px;
  }

  &__pendant {
    top: 103px;
    right: -80px;
  }

  &__pieds {
    top: 82px;
    right: -87px;
  }

  &__rocking {
    top: 53px;
    right: -87px;
  }

  &__bedstead {
    top: 80px;
    right: -85px;
  }

  &__chair {
    top: 40px;
    right: -76px;
  }

  &__bamboo {
    top: 82px;
    right: -112px;
  }

  &__pic {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    width: 171px;
    text-align: left;
  }

  &__subject {
    font-size: 20px;
    color: $white900;
    margin-bottom: 16px;
    @include line-clamp(2);
    font-weight: $DMSans700;
  }

  &__text {
    color: $blue300;
  }

}