.news-blog {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 295px;
  }

  &__title {
    margin: 0;
  }

  &__link {
    padding-right: 30px;
    position: relative;
    transition: color 0.4s;

    &:hover {
      color: $orange400;
    }

    &:focus {
      outline: 1px solid $red500;
    }

    &:active {
      color: $red500;
    }

    &:hover:after {
      transform: translateX(30px);
    }

    &::after {
      content: '';
      background-image: url('../images/icons/shape.svg');
      position: absolute;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      right: 0;
      top: 5px;
      transition: transform 0.5s,
    }
  }

  &__bottom {
    background-color: $pink100;
    height: 436px;
    display: flex;
    flex-direction: column;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;

  }

  &__inner {
    max-width: 370px;
    margin-top: -250px;
    background-color: $white100;
  }

}

