.products-week {
  padding-top: 65px;

  @include max($xl) {
    padding-top: 20px;
  }

  &__wrapper {
    margin-bottom: 180px;

    @include max($xl) {
      margin-bottom: 50px;
    }

    @include max($md) {
      margin-bottom: 20px;
    }
  }

  &__content {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 185px;

    @include max($xl) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px 10px;
      margin-bottom: 80px;
    }
@include max($ml) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px 10px;
    }
    
  }

}