.products-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;


  &__list {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  &__btn {
    border: none;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    outline-color: transparent;
    text-transform: none;
    transition: color .3s;
    font-size: 16px;
    color: $white400;
    font-family: $DMSans;
    font-weight: $DMSans700;
    outline: transparent;

    &:focus {
      outline: 1px solid $red500;
    }

    &:hover {
      color: $white900;
    }

    &:active {
      color: $orange400;
    }
  }

  .mixitup-control-active {
    color: $white900;
  }
}