.products-week {
  padding: 65px 0 82px;
  margin-bottom: 180px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

}

