.products-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include max($xl) {
    margin-bottom: 25px;
  }

  @include max($md) {
    flex-direction: column;
    align-items: center;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 28px;

      @include max($md) {
        margin-right: 0;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    text-transform: none;
    transition: color 0.3s;
    font-size: 16px;
    color: $white400;
    font-family: $DMSans;
    font-weight: $DMSans700;
    outline: transparent;

    @include max($md) {
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  .mixitup-control-active {
    color: $white900;
  }
}