<header class="header">
  <div class="container container--large">
      <nav class="header__top">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="logo">
        </a>
        <button class="header__button" type="button">
          <span class="sr-only">when you click on it, you will go to your soy profile</span>
          <span class="header__icon"></span>
        </button>
        <ul class="menu">
          <li class="menu__list">
            <a class="menu__link" href="#">
              Home <span>+</span>
            </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#">
              About
            </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#">
              Services
            </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#">
              Pages <span>+</span>
            </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#">
              News
            </a>
          </li>
          <li class="menu__list">
            <a class="menu__link" href="#">
              Contact
            </a>
          </li>
        </ul>
        <div class="user-nav">
          <button class="user-nav__btn btn-circle" type="button">
            <span class="sr-only">when clicked, the search field opens</span>
            <svg class="user-nav__search">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </button>
          <a class="user-nav__link user-nav__favorites" href="#">
            <span class="sr-only">when you click on it, you will go to the products added to favorites</span>
            <svg class="user-nav__heart">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
            <span class="user-nav__num">0</span>
          </a>
          <a class="user-nav__link user-nav__purchases" href="#">
            <span class="sr-only">when you click on it, you will go to the products added to the cart</span>
            <svg class="user-nav__cart">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>
            <span class="user-nav__num">0</span>
          </a>
          <button class="user-nav__button btn-circle" type="button">
            <span class="sr-only">when you click on it, you will go to your soy profile</span>
            <svg class="user-nav__profile">
              <use xlink:href="images/sprite.svg#tile"></use>
            </svg>
          </button>
        </div>
      </nav>
  </div>
</header>