<header class="header">
  <div class="box">
  <nav class="header__top">
    <a class="logo" href="#">
      <img src="images/logo.png" alt="logo">
      <h1 class="sr-only">online store glee</h1>
    </a>
    <ul class="menu">
      <li class="menu__list">
        <a class="menu__link" href="#">
          Home +
        </a>
      </li>
      <li class="menu__list">
        <a class="menu__link" href="#">
          About
        </a>
      </li>
      <li class="menu__list">
        <a class="menu__link" href="#">
          Services
        </a>
      </li>
      <li class="menu__list">
        <a class="menu__link" href="#">
          Pages +
        </a>
      </li>
      <li class="menu__list">
        <a class="menu__link" href="#">
          News
        </a>
      </li>
      <li class="menu__list">
        <a class="menu__link" href="#">
          Contact
        </a>
      </li>
    </ul>
    <div class="user">
      <button class="user__button-search home-btn" type="button" href="#">
        <span class="sr-only">search</span>
        <svg class="user__search">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </button>
      <a class="user__link user__favorites" href="#">
        <span class="sr-only">added to favorites</span>
        <svg class="user__heart">
          <use xlink:href="images/sprite.svg#heart"></use>
        </svg>
        <span class="user__num user__heart">0</span>
      </a>
      <a class="user__link user__purchases" href="#">
        <span class="sr-only">added to cart</span>
        <svg class="user__cart">
          <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
        <span class="user__num user__cart">0</span>
      </a>
      <button class="user__button-tile home-btn" type="button">
        <span class="sr-only">profile</span>
        <svg class="user__tile">
          <use xlink:href="images/sprite.svg#tile"></use>
        </svg>
      </button>
    </div>
  </nav>
</div>
</header>