<section class="news-blog">
  <div class="container">
    <div class="news-blog__top">
      <h2 class="title news-blog__title">Our Insights & Articles</h2>
      <a class="news-blog__link" href="#">
        <span class="sr-only">when you click on it, you will go to the page with all the news</span>
        View All
      </a>
    </div>
  </div>
  <div class="container">
    <ul class="news-blog__items">
      <li class="news-blog__inner">
        <article class="article-card">
          <a class="article-card__pic" href="#">
            <div class="article-card__wrap">
              <img class="article-card__img" src="images/news/1.jpg" alt="#">
              <span class=" article-card__caption">news</span>
            </div>
          </a>
          <div class="article-card__content">
            <a class="article-card__text" href="#">
              <h3 class="article-card__subject">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h3>
            </a>
            <div class="article-card__info">
              <time class="article-card__date" datetime="2020-01-28">
                28 january, 2020
              </time>
              <a class="article-card__author" href="#">
                <span class="sr-only">when you click on it, you will go to the author's page</span>
                by admin
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="news-blog__inner">
        <article class="article-card">
          <a class="article-card__pic" href="#">
            <div class="article-card__wrap">
              <img class="article-card__img" src="images/news/2.jpg" alt="#">
            </div>
            <span class="article-card__caption">news</span>
          </a>
          <div class="article-card__content">
            <a class="article-card__text" href="#">
              <h3 class="article-card__subject">
                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              </h3>
            </a>
            <div class="article-card__info">
              <time class="article-card__date" datetime="2020-01-28">
                28 january, 2020
              </time>
              <a class="article-card__author" href="#">
                <span class="sr-only">when you click on it, you will go to the author's page</span>
                by admin
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="news-blog__inner">
        <article class="article-card">
          <a class="article-card__pic" href="#">
            <div class="article-card__wrap">
              <img class="article-card__img" src="images/news/3.jpg" alt="#">
            </div>
            <span class="article-card__caption">news</span>
          </a>
          <div class="article-card__content">
            <a class="article-card__text" href="#">
              <h3 class="article-card__subject article-card__headline">
                Rncididunt ut labore et dolore magna aliqua. Ut enim
              </h3>
            </a>
            <div class="article-card__info">
              <time class="article-card__date" datetime="2020-01-28">
                28 january, 2020
              </time>
              <a class="article-card__author" href="#">
                <span class="sr-only">when you click on it, you will go to the author's page</span>
                by admin
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
  <div class="partners">
    <div class="container">
      <span class="sr-only">slider with links logos of our partners</span>
      <ul class="partners__wrap">
        <li class="partners__items">
          <ul class="partners__item">
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/peterson.png" alt="partner-icons">
              </a>
            </div>
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/consulting.png" alt="partner-icons">
              </a>
            </div>
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/chainforce.png" alt="partner-icons">
              </a>
            </div>
            <li class="partners__list">
              <a class="partners__link" href="#">
                <div class="partners__img">
                  <img class="partners__pic" src="images/nextg.png" alt="partner-icons">
                </div>
              </a>
            </li>
            <li class="partners__list">
              <a class="partners__link" href="#">
                <div class="partners__img">
                  <img class="partners__pic" src="images/vintage.png" alt="partner-icons">
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="partners__items">
          <ul class="partners__item">
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/peterson.png" alt="partner-icons">
              </a>
            </div>
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/consulting.png" alt="partner-icons">
              </a>
            </div>
            <div class="partners__img">
              <a class="partners__link" href="#">
                <img class="partners__pic" src="images/chainforce.png" alt="partner-icons">
              </a>
            </div>
            <li class="partners__list">
              <a class="partners__link" href="#">
                <div class="partners__img">
                  <img class="partners__pic" src="images/nextg.png" alt="partner-icons">
                </div>
              </a>
            </li>
            <li class="partners__list">
              <a class="partners__link" href="#">
                <div class="partners__img">
                  <img class="partners__pic" src="images/vintage.png" alt="partner-icons">
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>