<section class="products-week">
  <div class="container">
    <h2 class="title">
      Products of the week
    </h2>
    <ul class="products-filter ">
      <li class="products-filter__list">
        <button class="products-filter__btn" type="button" data-filter="all"></button>
          All
      </li>
      <li class="products-filter__list">
        <button class="products-filter__btn" type="button" data-filter=".category-a"></button>
          Furnitures
      </li>
      <li class="products-filter__list">
        <button class="products-filter__btn" type="button" data-filter=".category-b"></button>
          Chairs
      </li>
      <li class="products-filter__list">
        <button class="products-filter__btn" type="button" data-filter=".category-c"></button>
          Lighting
      </li>
      <li class="products-filter__list">
        <button class="products-filter__btn" type="button" data-filter=".category-d"></button>
          Decor
      </li>
    </ul>
    <ul class="products-week__content">
      <li class="card-product products-week__item  mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/1.png" width="187" height="214" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link btn-circle" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/2.png" width="187" height="214" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <span class="sr-only">when you click on it, we will go to a page with a detailed description of the
                product</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn   btn-circle" type="button">
              <span class="sr-only">awhen you click add the product to the cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn   btn-circle" type="button">
              <span class="sr-only">when you click add the product to your favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-b">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/3.png" width="230" height="180" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            White chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-c">
        <div class="card-product__inner">
          <img class="card-products__pic" src="images/products/4.png" width="240" height="140" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Retro table
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-a">
        <div class="card-product__inner">
          <img class="card-products__pi" src="images/products/5.png" width="240" height="165" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/6.png" width="235" height="168" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Wooden chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-c">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/7.png" width="240" height="170" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            White chair
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
      <li class="card-product products-week__item  mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/8.png" width="250" height="157" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link  btn-circle" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card-product__wrap">
          <h3 class="card-product__subject">
            Retro table
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </li>
    </ul>
  </div>
  </section>