<div class="products">
  <div class="container">
    <h2 class="products__title">
      Products of the week
    </h2>
    <ul class="products__filter">
      <li class="products__list">
        <button class="products__btn" type="button" data-filter="all">
          All
      </li>
      <li class="products__list">
        <button class="products__btn" type="button" data-filter=".category-a">
          Furnitures
      </li>
      <li class="products__list">
        <button class="products__btn" type="button" data-filter=".category-b">
          Chairs
      </li>
      <li class="products__list">
        <button class="products__btn" type="button" data-filter=".category-c">
          Lighting
      </li>
      <li class="products__list">
        <button class="products__btn" type="button" data-filter=".category-d">
          Decor
      </li>
    </ul>
    <div class="products__content">
      <article class="products__item card-product mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/1.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Wooden radio
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/2.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Wooden chair
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-b">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/3.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            White chair
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-c">
        <div class="card-product__inner">
          <img class="card-products__pic" src="images/products/4.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Retro table
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-a">
        <div class="card-product__inner">
          <img class="card-products__pi" src="images/products/5.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Wooden radio
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-d">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/6.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Wooden chair
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-c">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/7.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            White chair
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
      <article class="products__item card-product mix category-a">
        <div class="card-product__inner">
          <img class="card-product__pic" src="images/products/8.png" alt="armchair">
          <div class="card-product__box">
            <a class="card-product__link" href="#">
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart-product">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </a>
            <a class="card-product__link" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart-product">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-product__wrap">
          <p class="card-product__subject">
            Retro table
          </p>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
        </div>
      </article>
    </div>
  </div>