<section class="slider-shop">
  <div class="box">
    <ul class="slider-shop__wrapper">
      <li class="slider-shop__item" style="background-image: url('images/bg.png');">
        <div class="container">
          <div class="slider-shop__inner">
            <h2 class="slider-shop__subject">SMART AND
              TRENDY</h2>
            <div class="slider-shop__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <button class="slider-shop__button" type="button">
              <span class="sr-only">to go to purchases</span>
              Shop Now
              <svg class="slider-shop__arrow">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="slider-shop__item" style="background-image: url('images/bg.png');">
        <div class="container">
          <div class="slider-shop__inner">
            <h2 class="slider-shop__subject">SMART AND
              TRENDY</h2>
            <div class="slider-shop__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <button class="slider-shop__button" type="button">
              <span class="sr-only">to go to purchases</span>
              Shop Now
              <svg class="slider-shop__arrow">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="slider-shop__item" style="background-image: url('images/bg.png');">
        <div class="container">
          <div class="slider-shop__inner">
            <h2 class="slider-shop__subject">SMART AND
              TRENDY</h2>
            <div class="slider-shop__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <button class="slider-shop__button" type="button">
              <span class="sr-only">to go to purchases</span>
              Shop Now
              <svg class="slider-shop__arrow">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <section class="information">
      <div class="box">
        <div class="information__items">
          <div class="information__item">
            <div class="information__icon">
              <svg class="information__time">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
            </div>
            <div class="information__content">
              <h3 class="information__title">
                Support 24/7.
              </h3>
              <div class="information__text">
                <p>
                  Contact us 24 hours a day,
                  7 days a week.
                </p>
              </div>
            </div>
          </div>
          <span class="information__line"></span>
          <div class="information__item">
            <div class="information__icon information__icon-wrap">
              <svg class="information__delivery-truck">
                <use xlink:href="images/sprite.svg#delivery-truck"></use>
              </svg>
            </div>
            <div class="information__content information__content-wrap">
              <h3 class="information__title">
                Delivery.
              </h3>
              <div class="information__text">
                <p>
                  Free shipping on all US order.
                </p>
              </div>
            </div>
          </div>
          <span class="information__line"></span>
          <div class="information__item">
            <div class="information__icon">
              <svg class="information__credit-card">
                <use xlink:href="images/sprite.svg#credit-card"></use>
              </svg>
            </div>
            <div class="information__content">
              <h3 class="information__title">
                100% Payment secure.
              </h3>
              <div class="information__text">
                <p>
                  We ensure secure payment
                  with PEV.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>