<section class="new-design">
  <div class="container">
    <h2 class="title">
      New Design
    </h2>
    <div class="new-design__inner" data-ref="container-1">
      <ul class="products-filter">
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter="all">All</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-a"> Furnitures</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-b"> Chairs</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-c">Lighting</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-d">Decor</button>
        </li>
      </ul>
      <ul class="new-design__content">
       <li class="new-design__list mix category-a">
          <article class="card-product design-card">
            <a class="design-card__link" href="#"> </a>
            <div class="design-card__img">
              <img class="design-card__pic" src="images/design/1.png" alt="armchair">
            </div>
            <h3 class="design-card__subject new-design__subject">
              Beat Flat Pendant
              Black
            </h3>
            <span class="design-card__num">
              Classic
            </span>
          </article>
        </li> 
      <li class="new-design__list mix category-a">
        <article class="card-product design-card">
          <a class="design-card__link" href="#"> </a>
          <div class="design-card__img">
            <img class="design-card__pic" src="images/design/2.png" alt="armchair">
          </div>
          <h3 class="design-card__subject">
            Beat Flat Pendant
            Black
          </h3>
          <span class="design-card__num">
            Classic
          </span>
        </article>
      </li>
      <li class="new-design__list mix category-b">
        <article class="card-product design-card">
          <a class="design-card__link" href="#"> </a>
          <div class="design-card__img design-card__img--chair">
            <img class="design-card__pic" src="images/design/3.png" alt="armchair">
          </div>
          <h3 class="design-card__subject">
            Beat Flat Pendant
            Black
          </h3>
          <span class="design-card__num">
            Classic
          </span>
        </article>
      </li>
      <li class="new-design__list mix category-c">
        <article class="card-product design-card">
          <a class="design-card__link" href="#"> </a>
          <div class="design-card__img">
            <img class="design-card__pic" src="images/design/4.png" alt="armchair">
          </div>
          <h3 class="design-card__subject">
            Beat Flat Pendant
            Black
          </h3>
          <span class="design-card__num">
            Classic
          </span>
        </article>
      </li>
      <li class="new-design__list mix category-b">
          <article class="card-product design-card">
            <a class="design-card__link" href="#"> </a>
            <div class="design-card__img design-card__img--chair">
              <img class="design-card__pic" src="images/design/5.png" alt="armchair">
            </div>
            <h3 class="design-card__subject">
              Beat Flat Pendant
              Black
            </h3>
            <span class="design-card__num">
              Classic
            </span>
          </article>
        </li>
        <li class="new-design__list mix category-b">
          <article class="card-product design-card">
            <a class="design-card__link" href="#"> </a>
            <div class="design-card__img">
              <img class="design-card__pic" src="images/design/6.png" alt="armchair">
            </div>
            <h3 class="design-card__subject">
              Beat Flat Pendant
              Black
            </h3>
            <span class="design-card__num">
              Classic
            </span>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="video-products">
    <div class="video-products__inner" style="background-image: url('images/video.jpg');">
      <a class="video-products__link" data-fancybox href="https://youtu.be/FhWIhwoiSVI">
        <svg class="video-products__play">
          <use xlink:href="images/sprite.svg#play"></use>
        </svg>
      </a>
    </div>
  </div>
</section>