<div class="partners">
  <div class="container">
    <span class="sr-only">slider with links logos of our partners</span>
    <ul class="partners__wrap ">
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/peterson.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/consulting.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/chainforce.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/nextg.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/vintage.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/peterson.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/consulting.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/chainforce.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/nextg.png" alt="partner-icons">
        </a>
      </li>
      <li class="partners__img">
        <a class="partners__link" href="#">
          <img class="partners__pic" src="images/vintage.png" alt="partner-icons">
        </a>
      </li>
    </ul>
  </div>
</div>