<section class="products-week">
  <div class="container">
    <h2 class="title products-week__title">
      Products of the week
    </h2>
    <div class="products-week__wrapper" data-ref="container-2">
      <ul class="products-filter ">
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter="all">All</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-a"> Furnitures</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-b"> Chairs</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-c">Lighting</button>
        </li>
        <li class="products-filter__list">
          <button class="products-filter__btn" type="button" data-filter=".category-d">Decor</button>
        </li>
      </ul>
      <ul class="products-week__content">
        <li class="products-week__item  mix category-a">
          <article class="card-product">
           <a class="card-product__wrap" href=""></a>
              <div class="card-product__img">
                <img class="card-product__pic" src="images/products/1.png" width="240" height="170" alt="armchair">
              </div>
              <h3 class="card-product__subject">
                Wooden radio
              </h3>
              <p class="card-product__num">
                <span>$</span>29.00
              </p>

              <div class="card-product__box">
                <a class="card-product__link btn-circle" href="#">
                  <span class="sr-only">added to favorites</span>
                  <svg class="card-product__magnifier">
                    <use xlink:href="images/sprite.svg#magnifier"></use>
                  </svg>
                </a>
                <button class="card-product__btn  btn-circle" type="button">
                  <span class="sr-only">added to cart</span>
                  <svg class="card-product__cart">
                    <use xlink:href="images/sprite.svg#cart-product"></use>
                  </svg>
                </button>
                <button class="card-product__btn  btn-circle" type="button">
                  <span class="sr-only">added to favorites</span>
                  <svg class="card-product__heart">
                    <use xlink:href="images/sprite.svg#heart-product"></use>
                  </svg>
                </button>
              </div>
          </article>
        </li>
      <li class="products-week__item  mix category-a">
        <article class="card-product">
          <a class="card-product__wrap" href=""></a>
      
          <div class="card-product__img">
            <img class="card-product__pic" src="images/products/2.png" width="240" height="170" alt="armchair">
          </div>
      
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
      
          <div class="card-product__box">
            <a class="card-product__link btn-circle" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
        
      <li class="products-week__item  mix category-b">
        <article class="card-product">
          <a class="card-product__wrap" href=""></a>
      
          <div class="card-product__img">
            <img class="card-product__pic" src="images/products/3.png" width="240" height="170" alt="armchair">
          </div>
      
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
      
          <div class="card-product__box">
            <a class="card-product__link btn-circle" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item  mix category-c">
        <article class="card-product">
          <a class="card-product__wrap" href=""></a>
      
          <div class="card-product__img">
            <img class="card-product__pic" src="images/products/4.png" width="240" height="170" alt="armchair">
          </div>
      
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
      
          <div class="card-product__box">
            <a class="card-product__link btn-circle" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products-week__item  mix category-b">
        <article class="card-product">
          <a class="card-product__wrap" href=""></a>
      
          <div class="card-product__img">
            <img class="card-product__pic" src="images/products/5.png" width="240" height="170" alt="armchair">
          </div>
      
          <h3 class="card-product__subject">
            Wooden radio
          </h3>
          <p class="card-product__num">
            <span>$</span>29.00
          </p>
      
          <div class="card-product__box">
            <a class="card-product__link btn-circle" href="#">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__magnifier">
                <use xlink:href="images/sprite.svg#magnifier"></use>
              </svg>
            </a>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to cart</span>
              <svg class="card-product__cart">
                <use xlink:href="images/sprite.svg#cart-product"></use>
              </svg>
            </button>
            <button class="card-product__btn  btn-circle" type="button">
              <span class="sr-only">added to favorites</span>
              <svg class="card-product__heart">
                <use xlink:href="images/sprite.svg#heart-product"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
        <li class="products-week__item  mix category-d">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
        
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/6.png" width="240" height="170" alt="armchair">
            </div>
        
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
        
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
        
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/7.png" width="240" height="170" alt="armchair">
            </div>
        
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
        
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        <li class="products-week__item  mix category-a">
          <article class="card-product">
            <a class="card-product__wrap" href=""></a>
        
            <div class="card-product__img">
              <img class="card-product__pic" src="images/products/8.png" width="240" height="170" alt="armchair">
            </div>
        
            <h3 class="card-product__subject">
              Wooden radio
            </h3>
            <p class="card-product__num">
              <span>$</span>29.00
            </p>
        
            <div class="card-product__box">
              <a class="card-product__link btn-circle" href="#">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__magnifier">
                  <use xlink:href="images/sprite.svg#magnifier"></use>
                </svg>
              </a>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to cart</span>
                <svg class="card-product__cart">
                  <use xlink:href="images/sprite.svg#cart-product"></use>
                </svg>
              </button>
              <button class="card-product__btn  btn-circle" type="button">
                <span class="sr-only">added to favorites</span>
                <svg class="card-product__heart">
                  <use xlink:href="images/sprite.svg#heart-product"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="lamps-shop">
    <div class="container container--large">
      <ul class="lamps-shop__wrapper">
        <li class="lamps-shop__inner">
          <article class="card-lamps">
            <div class="card-lamps__img">
              <img class="card-lamps__pic" src="images/2.png" alt="lamp">
            </div>
            <div class="card-lamps__content">
              <h3 class="card-lamps__title">
                Mirum Notare Tellus
              </h3>
              <div class="card-lamps__text">
                <p>
                  LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
                </p>
              </div>
              <a class="btn-link card-lamps__link" href="#">
                <span class="sr-only">when you click on it, you will go to the page with the lamps</span>
                View More
                <svg class="btn-link__arrow card-lamps__arrov">
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="lamps-shop__inner">
          <article class="card-lamps card-lamps__wrap">
            <div class="card-lamps__img">
              <img class="card-lamps__pic" src="images/1.png" alt="lamp">
            </div>
            <div class="card-lamps__content">
              <h3 class="card-lamps__title card-lamps__subject">
                Malesuada Tempor
                Euismod
              </h3>
              <div class="card-lamps__text">
                <p>
                  50W 8000lm Compact Size for HID Street Light Replacement LEDCornLight
                </p>
              </div>
              <a class="btn-link card-lamps__link" href="#">
                <span class="sr-only">when you click on it, you will go to the page with the lamps</span>
                View More
                <svg class="btn-link__arrow card-lamps__arrov">
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>