<section class="contact">
  <div class="container">
    <div class="contact__top">
      <p class="contact__headline">Write Here</p>
      <h2 class="contact__title">Get In Touch</h2>
      <address class="contact__addr">
        <ul class="contact__items">
          <li class="contact__item">
            <a class="contact__link" href="#">
              <span class="sr-only">When you click on the link, you will go to the page with the map</span>
              <svg class="contact__pic contact__address">
                <use xlink:href="images/sprite.svg#address"></use>
              </svg>
            </a>
            <p class="contact__caption">Address</p>
            <div class="contact__box">
              <span>
                2416 Mapleview Drive
              </span>
              <span>
                Tampa, FL 33634
              </span>
            </div>
          </li>
          <li class="contact__item">
            <a class="contact__link" href="#">
              <span class="sr-only"> When you click on the link, you will go to the page with the map</span>
              <svg class="contact__pic contact__email">
                <use xlink:href="images/sprite.svg#email"></use>
              </svg>
            </a>
            <p class="contact__caption">Our Email</p>
            <div class="contact__box">
              <p class="contact__wrapper">
                <span>Main Email : </span><a class="contact__wrapper-link" href="mailto:contact@website.com">
                  <span class="sr-only"> when you click on it, the application will open to send us an email</a>
              </p>
              <p class="contact__wrapper">
                <span>Inquiries : </span><a class="contact__wrapper-link" href="mailto:Info@mail.com">info@mail.com</a>
              </p>
            </div>
          </li>
          <li class="contact__item">
            <a class="contact__link" href="#">
              <span class="sr-only"> When you click on the link, you will go to the page to make a call to us</span>
              <svg class="contact__pic contact__phone">
                <use xlink:href="images/sprite.svg#phone"></use>
              </svg>
            </a>
            <p class="contact__caption">Our Phone</p>
            <div class="contact__box">
              <p class="contact__wrapper">
                <span>Office Telephone : </span>
                <a href="tel:+0029129102320" class="contact__wrapper-link">
                  <span class="sr-only">when you click on it, the application will open to make a call to
                    the specified number office</span>
                  0029129102320</a>
              </p>
              <p class="contact__wrapper">
                <span>Mobile : </span> <a href="tel:+000232439493" class="contact__wrapper-link">
                  <span class="sr-only">when you click on it, the application will open to make a call to
                    the specified number mobile</span> 000 2324 39493</a>
              </p>
            </div>
          </li>
        </ul>
      </address>
    </div>
    <div class="contact__bottom">
      <form class="contact-form contact__form" action="#">
        <ul class="contact-form__information contact__form-info">
          <li class="contact-form__item contact__form-item">
            <label class="contact-form__label contact-form__label--name">
              <span class="sr-only">field for filling in the name</span>
              <input class="contact-form__input contact__form-input" type="text" name="text" placeholder="Name">
            </label>
          </li>
          <li class="contact-form__item contact__form-item">
            <label class="contact-form__label contact-form__label--email">
              <span class="sr-only">field for filling in the email</span>
              <input class="contact-form__input contact__form-input" type="text" name="text" placeholder="Email">
            </label>
          </li>
        </ul>
        <label class="contact-form__labe">
          <span class="sr-only">The input field for filling in the message</span>
          <textarea class="contact-form__comment contact__form-comment" placeholder="Message"></textarea>
        </label>
        <button class="contact-form__btn contact__form-btn" type="submit">
          <span class="sr-only">the button that the completed form will be sent to when clicked</span>
          send message</button>
      </form>
      <div class="contact__map">
        <span class="sr-only">a map with our location</span>
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>