<ul class="filters blog__filters">
  <li class="filters__item filters-search">
    <form class="filters-search__form" action="#">
      <input class="filters-search__input" type="text">
      <button class="filters-search__btn" type="submit">
        <svg class="filters-search__pic">
          <use xlink:href="images/sprite.svg#searchtwo"></use>
        </svg>
      </button>
    </form>
  </li>
  <li class="filters__item filters-category blog__category">
    <aside class="aside">
      <h2 class="filters__title">
        category
      </h2>
      <form class="filters-category__form" action="#">
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox" checked>
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Chair</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Table</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Lamp</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Watch</span>
          </div>
        </label>
        <label class="filters-category__label">
          <input class="filters-category__input check-input" type="checkbox">
          <div class="filters-category__checkbox check-wrap">
            <span class="filters-category__num"> Clock</span>
          </div>
        </label>
      </form>
    </aside>
  </li>
  <li class="filters__item filters-recent">
    <aside class="aside">
      <h2 class="filters__title filters-recent__title">
        resent posts
      </h2>
      <ul class="filters-recent__items blog-filtres">
        <li class="filters-recent__item">
          <div class="filters-recent__img blog-filtres__img">
            <a class="filters-recent__link" href="#">
              <img class="filters-recent__pic blog-filtres__pic" src="images/blog/1.jpg" alt="">
            </a>
          </div>
          <div class="filters-recent__content blog-filtres__content">
            <h4 class="filters-recent__name blog-filtres__name">
              Corem ipsum dolor tetur adipisicing elit
            </h4>
            <time class="article-card__date blog-filtres__date" datetime="2020-01-28">
              28 january, 2020
            </time>
          </div>
        </li>
        <li class="filters-recent__item">
          <div class="filters-recent__img blog-filtres__img">
            <a class="filters-recent__link" href="#">
              <img class="filters-recent__pic blog-filtres__pic" src="images/blog/2.jpg" alt="">
            </a>
          </div>
          <div class="filters-recent__content blog-filtres__content">
            <h4 class="filters-recent__name blog-filtres__name">
              Fdipisicing elit, sed do eiusmod tempor
            </h4>
            <time class="article-card__date blog-filtres__date" datetime="2020-01-28">
              28 january, 2020
            </time>
          </div>
        </li>
        <li class="filters-recent__item">
          <div class="filters-recent__img blog-filtres__img">
            <a class="filters-recent__link" href="#">
              <img class="filters-recent__pic blog-filtres__pic" src="images/blog/3.jpg" alt="">
            </a>
          </div>
          <div class="filters-recent__content blog-filtres__content">
            <h4 class="filters-recent__name blog-filtres__name">
              Eonsectetur adipisicing elit, sed do eiusmod
            </h4>
            <time class="article-card__date blog-filtres__date" datetime="2020-01-28">
              28 january, 2020
            </time>
          </div>
        </li>
        <li class="filters-recent__item">
          <div class="filters-recent__img blog-filtres__img">
            <a class="filters-recent__link" href="#">
              <img class="filters-recent__pic blog-filtres__pic" src="images/blog/4.jpg" alt="">
            </a>
          </div>
          <div class="filters-recent__content blog-filtres__content">
            <h4 class="filters-recent__name blog-filtres__name">
              gnim ad minim veniam, quis nostrud
            </h4>
            <time class="article-card__date blog-filtres__date" datetime="2020-01-28">
              28 january, 2020
            </time>
          </div>
        </li>
      </ul>
    </aside>
  </li>
</ul>