<div class="comments">
  <h3 class="comments__title">
    <span class="comments__num">3 </span>Comments
  </h3>
  <div class="comments__wrapper">
    <div class="comments__images">
      <a class="comments__photo" href="#">
        <img class="comments__img" src="./images/comments/1.jpg" alt="photo">
      </a>
    </div>
    <div class="comments__content">
      <div class="comments__top">
        <a class="comments__name" href="#">Delores G. Roberts</a>
        <span class="comments__date">Add 11 Oct 2020</span>
      </div>
      <div class="comments__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Suspendisse orci sem, ultrices </p>
      </div>
      <a class="comments__link" href="#">Reply</a>
    </div>
  </div>

  <div class="comments__wrapper comments__wrapper--add">
    <div class="comments__images">
      <a class="comments__photo" href="#">
        <img class="comments__img" src="./images/comments/2.jpg" alt="photo">
      </a>
    </div>
    <div class="comments__content comments__content--add">
      <div class="comments__top">
        <a class="comments__name" href="#">Shannon S. Williams</a>
        <span class="comments__date">Add 11 Oct 2020</span>
      </div>
      <div class="comments__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
      </div>
      <a class="comments__link" href="#">Reply</a>
    </div>
  </div>

  <div class="comments__wrapper">
    <div class="comments__images">
      <a class="comments__photo" href="#">
        <img class="comments__img" src="./images/comments/3.jpg" alt="photo">
      </a>
    </div>
    <div class="comments__content">
      <div class="comments__top">
        <a class="comments__name" href="#">Nicholas R. Coley</a>
        <span class="comments__date">Add 11 Oct 2020</span>
      </div>
      <div class="comments__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Suspendisse orci sem, </p>
      </div>
      <a class="comments__link" href="#">Reply</a>
    </div>
  </div>
</div>