<div class="blog__designer designer">
  <div class="designer__wrapper">
    <div class="designer__photo">
      <img class="designer__img" src="images/designer/mark.jpg" alt="photo of the designer">
    </div>
    <div class="designer__content">
      <a class="designer__name" href="#">Mark N. Hernandez</a>
      <span class="designer__profession">Designer</span>
    </div>
  </div>
  <div class="designer__social">
    <div class="designer__top">
      <span class="designer__decr">Tags: </span>
      <ul class="designer__list">
        <li class="designer__item ">
          <a class="designer__link" href="#">All, </a>
        </li>
        <li class="designer__item">
          <a class="designer__link" href="#">Trending</a>
        </li>
      </ul>
    </div>
    <div class="designer__bottom">
      <span class="designer__decr">Share: </span>
      <ul class="designer__list">
        <li class="designer__item">
          <a class="designer__link" href="#">
            <svg class="designer__pic">
              <use xlink:href="images/sprite.svg#designer-face"></use>
            </svg>
          </a>
        </li>
        <li class="designer__item">
          <a class="designer__link" href="#">
            <svg class="designer__pic">
              <use xlink:href="images/sprite.svg#designer-twit"></use>
            </svg>
          </a>
        </li>
        <li class="designer__item">
          <a class="designer__link" href="#">
            <svg class="designer__pic">
              <use xlink:href="images/sprite.svg#designer-inst"></use>
            </svg>
          </a>
        </li>
        <li class="designer__item">
          <a class="designer__link" href="#">
            <svg class="designer__pic">
              <use xlink:href="images/sprite.svg#designer-go"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>